<app-menu-superior> </app-menu-superior>

<ion-content class="ion-padding">
  <div class="health-history-container">
    <ion-card *ngIf="paciente">
      <ion-card-header>
        <ion-card-title>{{ paciente.nombre }} [{{ paciente.dni }}]</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>NH:</strong> {{ paciente.nh }}</p>
        <p><strong>Género:</strong> {{ paciente.sexo }}</p>
        <p><strong>Ano nacimiento:</strong> {{ paciente.anyoNacimiento }}</p>
        <p><strong>Fecha alta:</strong> {{ paciente.fecha }}</p>

        <p><strong>Alergias:</strong></p>
        <ion-select placeholder="Selecciona un antecedente" (ionChange)="cargarDetalleAlergias($event.detail.value)">
          <ion-select-option *ngFor="let alergia of alergias" [value]="alergia">
            {{ alergia }}
          </ion-select-option>
        </ion-select>

        <p><strong>Análisis Médico:</strong></p>
        <ion-select placeholder="Selecciona un antecedente" (ionChange)="cargarDetalleAnalisis($event.detail.value)">
          <ion-select-option *ngFor="let analitica of analisis" [value]="analitica">
            {{ analitica }}
          </ion-select-option>
        </ion-select>

        <p><strong>Antecedentes Familiares:</strong></p>
        <ion-select placeholder="Selecciona un antecedente" (ionChange)="cargarDetalleAntecedente($event.detail.value)">
          <ion-select-option *ngFor="let antecedente of antecedentes" [value]="antecedente">
            {{ antecedente }}
          </ion-select-option>
        </ion-select>

        <p><strong>Cosultas:</strong></p>
        <ion-select placeholder="Selecciona una consulta" (ionChange)="cargarDetalleConsulta($event.detail.value)">
          <ion-select-option *ngFor="let consulta of consultas" [value]="consulta.id">
            {{ consulta.fechaConsulta }}
          </ion-select-option>
        </ion-select>

        <p><strong>Hábito de vida:</strong></p>
        <ion-select placeholder="Selecciona un hábito" (ionChange)="cargarDetalleHabito($event.detail.value)">
          <ion-select-option *ngFor="let habito of habitos" [value]="habito">
            {{ habito }}
          </ion-select-option>
        </ion-select>

        <ion-button [routerLink]="['/vacunas']" [queryParams]="{ nh: paciente?.nh }"><strong>Vacunas</strong></ion-button>
        <br>
        <ion-button [routerLink]="['/hcdm-visor']" [queryParams]="{ nh: paciente?.nh }"><strong>Radiografias</strong></ion-button>
        <br>
        <ion-button [routerLink]="['/visor-dicom']" [queryParams]="{ nh: paciente?.nh }"><strong>Tacs</strong></ion-button>
        <br>

      </ion-card-content>
    </ion-card>

    <div class="icon-bar" *ngIf="detalleAlergias || detalleAnalisis || detalleAntecedente || detalleConsulta || detalleHabito">
      <div *ngIf="detalleAlergias">
        <p><strong>Sustancia:</strong> {{ detalleAlergias.sustancia }}</p>
        <p><strong>Reacción:</strong> {{ detalleAlergias.reaccion }}</p>
      </div>

      <div *ngIf="detalleAnalisis">
        <p><strong>Tipo:</strong> {{ detalleAnalisis.tipo }}</p>
        <p><strong>Fecha:</strong> {{ detalleAnalisis.fecha }}</p>
        <div *ngIf="detalleAnalisisResultado">
          <p><strong>Parametro:</strong> {{ detalleAnalisisResultado.parametro }}</p>
          <p><strong>Valor:</strong> {{ detalleAnalisisResultado.resultados.valor }}</p>
          <p><strong>Unidad:</strong> {{ detalleAnalisisResultado.unidad }}</p>
          <p><strong>Valor Referencia:</strong> {{ detalleAnalisisResultado.valorReferencia }}</p>
        </div>
      </div>

      <div *ngIf="detalleAntecedente">
        <p><strong>Enfermedad:</strong> {{ detalleAntecedente.enfermedad }}</p>
        <p><strong>Familiar:</strong> {{ detalleAntecedente.familiar }}</p>
        <p><strong>Comentarios:</strong> {{ detalleAntecedente.comentarios }}</p>
      </div>

      <div *ngIf="detalleConsulta">
        <p><strong>Fecha:</strong> {{detalleConsulta.fechaConsulta}}</p>
        <p><strong>Hora:</strong> {{ detalleConsulta.horaConsulta }}</p>
        <br>
        <p><strong>Paciente:</strong> {{ detalleConsulta.paciente.nombre }} {{ detalleConsulta.paciente.primerApellido }} {{ detalleConsulta.paciente.segundoApellido }}</p>
        <p><strong>Fecha de Nacimiento: </strong> {{ detalleConsulta.paciente.anyoNacimiento }}</p>
        <p><strong>DNI: </strong> {{ detalleConsulta.paciente.dni }}</p>
        <p><strong>NH: </strong> {{ detalleConsulta.paciente.nh }}</p>
        <p><strong>NUHSA: </strong> {{ detalleConsulta.paciente.nuhsa }}</p>
        <p><strong>NUSS: </strong> {{ detalleConsulta.paciente.nuss }}</p>
        <p><strong>Telefono: </strong> {{ detalleConsulta.paciente.telefono }}</p>
        <br>
        <p><strong>Motivo:</strong> {{ detalleConsulta.motivoConsulta }}</p>
        <p><strong>Observaciones:</strong> {{ detalleConsulta.observaciones }}</p>
      </div>

      <div *ngIf="detalleHabito">
        <p><strong>Tipo:</strong> {{ detalleHabito.tipo }}</p>
        <p><strong>Frecuencia:</strong> {{ detalleHabito.frecuencia }}</p>
        <p><strong>Duración:</strong> {{ detalleHabito.duracion }}</p>
        <p><strong>Observaciones:</strong> {{ detalleHabito.observaciones }}</p>
      </div>
    </div>
  </div>
</ion-content>
