<app-menu-superior> </app-menu-superior>

<ion-content class="ion-padding">
  <div class="health-history-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Farmacia [AN1234567890]</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>NH:</strong> 3000000000, Hombre, 21 años</p>
        <p><strong>Fecha alta:</strong> 20/01/2022</p>
        <p>Sin antecedentes familiares conocidos</p>
        <p>Con alergias</p>
        <p>Hábitos de vida</p>
        <p><strong>Fecha último control:</strong> 08/04/2019</p>
        <p>Cuestionarios y escalas</p>
        <p><strong>Asma</strong></p>
      </ion-card-content>
    </ion-card>

    <div class="icon-bar">
      <ion-icon name="create-outline"></ion-icon>
      <ion-icon name="document-outline"></ion-icon>
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="people-outline"></ion-icon>
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-icon name="medal-outline"></ion-icon>
      <ion-icon name="download-outline"></ion-icon>
    </div>

    <ion-button expand="block" color="success">
      Usuario de alta
    </ion-button>
  </div>
</ion-content>
