ion-content {
  --background: #ffffff;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.modal-card {
  background-color: #F9E5E4;
  border: 5px solid #D9534F;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 95%;
  max-width: 1000px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
}

.modal-header {
  position: relative;
  background-color: #FFFFFF;
  border: 2px solid #D9534F;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  color: #D9534F;
  cursor: pointer;
}

.button-row ion-button {
  --background: #D9534F;
  color: #FFFFFF;
  margin: 0 5px;
}

ion-input,
ion-textarea,
ion-select {
  --background: #FFFFFF;
  --color: #000000;
  border: 1px solid #D9534F;
  border-radius: 10px;
  padding: 5px;
  padding-left: 5px; 
  overflow: hidden;
}

ion-button {
  color: #FFFFFF;
  margin-bottom: 15px;
  background: #D9534F;
}

ion-item-divider {
  --background: #D9534F;
  color: white;
  margin: 10px 0;
  border-radius: 15px;
  border: black solid 2px;
}

ion-datetime {
  --background: #FFFFFF;
  --color: #000000;
  --placeholder-color: #A9A9A9;
  --border-radius: 10px;
  --padding-start: 10px;
  border: #D9534F solid 1px;
  border-radius: var(--border-radius);
}


@media (max-width: 1024px) {
  .modal-card {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .modal-card {
    width: 90%;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .modal-card {
    padding: 10px;
    border-width: 3px;
  }
}
