<app-menu-superior> </app-menu-superior>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let room of rooms">
      <ion-col size="12">
        <h3>Habitación {{ room.numero || '---' }}</h3>
      </ion-col>

      <ion-col size="12">
        <ion-card [ngClass]="room.severidad?.toLowerCase()" [routerLink]="['/modificar-cama', room.id]">
          <ion-card-content class="ion-text-center">
            <ion-label><strong>Cama {{ room.id || '---' }}</strong></ion-label>
            <br />
            <ion-label><strong>Estado: {{ room.status || '---' }}</strong></ion-label>
            <br />
            <ion-label><strong>Paciente: {{ room.paciente?.nombre || '---' }} {{ room.paciente?.primerApellido || '' }} {{ room.paciente?.segundoApellido || '' }}</strong></ion-label>
            <br />
            <ion-label><strong>Gravedad: {{ room.severidad || '---' }}</strong></ion-label>
            <br />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
