<app-menu-superior> </app-menu-superior>

<ion-content class="ion-padding">
  <div class="user-selection-card">
    <ion-card style="background: #f8e4e4; max-width: 1140px;">
      <ion-card-header>
        <ion-card-title>Selección de usuario</ion-card-title>
      </ion-card-header>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input [(ngModel)]="searchParams.nombre" name="nombre"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Primer apellido</ion-label>
                <ion-input [(ngModel)]="searchParams.primerApellido" name="primerApellido"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Segundo apellido</ion-label>
                <ion-input [(ngModel)]="searchParams.segundoApellido" name="segundoApellido"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">DNI</ion-label>
                <ion-input [(ngModel)]="searchParams.dni" name="dni"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Pasaporte</ion-label>
                <ion-input [(ngModel)]="searchParams.pasaporte" name="pasaporte"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">NUSS</ion-label>
                <ion-input [(ngModel)]="searchParams.nuss" name="nuss"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">NH</ion-label>
                <ion-input [(ngModel)]="searchParams.nh" name="nh"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">NUHSA</ion-label>
                <ion-input [(ngModel)]="searchParams.nuhsa" name="nuhsa"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Ano Nacimiento</ion-label>
                <ion-input [(ngModel)]="searchParams.anyoNacimiento" name="anyoNacimiento"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Sexo</ion-label>
                <ion-select [(ngModel)]="searchParams.sexo" name="sexo">
                  <ion-select-option value="0">Masculino</ion-select-option>
                  <ion-select-option value="1">Femenino</ion-select-option>
                </ion-select>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Direccion</ion-label>
                <ion-input [(ngModel)]="searchParams.direccion" name="direccion"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Telefono</ion-label>
                <ion-input [(ngModel)]="searchParams.telefono" name="telefono"></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Email</ion-label>
                <ion-input [(ngModel)]="searchParams.email" name="email"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="button-group">
            <div class="button-left">
              <ion-button (click)="buscarPacientes()">Buscar</ion-button>
              <ion-button (click)="crearPaciente()">Nuevo</ion-button>
            </div>
            <div class="button-right">
              <ion-button (click)="verDetallePaciente()">Aceptar</ion-button>
              <ion-button (click)="cancelarBusqueda()">Cancelar</ion-button>
            </div>
          </div>

          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="12">
                <ion-list>
                  <ion-item *ngFor="let paciente of pacientes" (click)="selectPaciente(paciente)" [class.selected]="paciente === selectedPaciente">
                    {{ paciente.nombre }} {{ paciente.primerApellido }} {{ paciente.segundoApellido }} [{{ paciente.nh }}]
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>
    </ion-card>
  </div>
</ion-content>
