<app-menu-superior> </app-menu-superior>

<ion-content class="ion-padding">
  <div class="user-selection-card">
    <ion-card style="background: #f8e4e4; max-width: 1140px;">
      <ion-card-header>
        <ion-card-title>Selección de usuario</ion-card-title>
      </ion-card-header>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Primer apellido</ion-label>
                <ion-input></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Segundo apellido</ion-label>
                <ion-input></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Tipo doc</ion-label>
                <ion-select>
                  <ion-select-option>DNI</ion-select-option>
                  <ion-select-option>Pasaporte</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Nº doc</ion-label>
                <ion-input></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">NUSS</ion-label>
                <ion-input></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">NH</ion-label>
                <ion-input></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">NUHSA</ion-label>
                <ion-input></ion-input>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Provincia</ion-label>
                <ion-select>
                  <ion-select-option>DNI</ion-select-option>
                  <ion-select-option>Pasaporte</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="12" size-md="2">
                <ion-label position="stacked">Ano Nacimiento</ion-label>
                <ion-input></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md="12">
                <ion-textarea rows="4"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="button-group">
            <div class="button-left">
              <ion-button>Leer Tarjeta</ion-button>
              <ion-button>Buscar</ion-button>
              <ion-button>Nuevo</ion-button>
              <ion-button>Nuevo familiar</ion-button>
            </div>
            <div class="button-right">
              <ion-button [routerLink]="'/heal-history'">Aceptar</ion-button>
              <ion-button>Cancelar</ion-button>
            </div>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-card>
  </div>
</ion-content>
