.chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 100px;
  height: calc(100vh - 120px); /* ajusta según header y footer */
  overflow-y: auto;
  background-color: #f8f8f8;
  scroll-behavior: smooth; /* para scroll suave */
}

.chat-bubble.me .mensaje-fecha {
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
}

.chat-bubble.other .mensaje-fecha {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}


.chat-bubble {
  max-width: 90%;
  white-space: normal !important;
  height: auto;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  overflow: visible !important;
  margin: 8px;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  display: flex;
  align-items: center;
  background-clip: padding-box;
}

.chat-bubble ion-icon {
  margin-right: 8px;
  flex-shrink: 0;
  font-size: 20px;
  color: inherit;
}

/* Mensajes propios a la derecha */
.chat-bubble.me {
  background-color: #d62f4d;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

/* Mensajes otros a la izquierda */
.chat-bubble.other {
  background-color: #e89ca0;
  color: white;
  align-self: flex-start;
  margin-right: auto;
}

.chat-input {
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.align-right {
  align-self: flex-end;
  background-color: #d1e7dd;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.align-left {
  align-self: flex-start;
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.mensaje {
  max-width: 60%;
}

.fecha {
  font-size: 0.8em;
  color: #6c757d;
}
