<app-menu-superior> </app-menu-superior>

<ion-toolbar>
  <ion-title>Chat con {{ nombreReceptor }}</ion-title>
</ion-toolbar>

<ion-content>
  <div class="chat-container" #chatContainer>
    <ng-container *ngFor="let mensaje of mensajes">
      <ion-card
        class="chat-bubble"
        [class.me]="(mensaje.idEmisor?.toString() ?? '') === (idMedicoActual?.toString() ?? '')"
        [class.other]="(mensaje.idEmisor?.toString() ?? '') !== (idMedicoActual?.toString() ?? '')"
      >
        <ion-card-content>
          <ion-icon
            [name]="(mensaje.idEmisor?.toString() ?? '') === (idMedicoActual?.toString() ?? '') ? 'person-outline' : 'medkit-outline'"
          ></ion-icon>
          <div>{{ mensaje.contenido }}</div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input
      [(ngModel)]="nuevoMensaje"
      placeholder="Escribe un mensaje..."
      (keyup.enter)="enviarMensaje()"
      class="chat-input"
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="enviarMensaje()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
