ion-content
{
  --background: white;
}

.login-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

.img
{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-img
{
  width: 50%;
  height: auto;
}

ion-card
{
  --background: white;
  flex: 1;
  max-width: 80%;
  margin: 10%;
  border: 0.1rem solid #b9b9b9;
  width: auto;
  border-radius: 1rem;
}

ion-item
{
  --background: white;
  --color: black;
  margin: 2% 0;
}

.input-container
{
  border: 0.1rem solid #b9b9b9;
  width: auto;
  border-radius: 1rem;
  margin-top: 2%;
}

ion-input
{
  width: 100%;
  padding: 2%;
}

button
{
  background: black;
  border-radius: 0.5rem;
  color: white;
  padding: 3%;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

button:hover
{
  background: #333;
}

a
{
  color: black;
}

@media only screen and (max-width: 768px)
{
  .login-container
  {
    flex-direction: column;
  }

  ion-card
  {
    margin: 5%;
  }
}

@media only screen and (min-width: 769px)
{
  .login-container
  {
    border: 0.5rem solid black;
    border-radius: 2rem;
    padding: 0;
    margin-left: 15%;
    margin-right: 15%;
  }
}
