<app-menu-superior> </app-menu-superior>
<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-toolbar>
  <ion-title>Selector de chat</ion-title>
  <ion-icon name="mail" slot="end" style="font-size: 50px; margin-right: 10px" (click)="navigateToCorreo()"></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-list class="chat-list">
    <ion-item class="chat-card selected" *ngFor="let chat of chats" (click)="navigateToChat(chat.id)">
      <div class="chat-avatar">{{ chat.nombre_receptor }}</div>
      <div class="chat-name">{{ chat.nombre_receptor }}</div>
      <div class="chat-time">13:45</div>
    </ion-item>
  </ion-list>
</ion-content>
