.contenidoInput {
  border: 1px solid #b3b0b0;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 10px;
  min-height: 120px;
}

ion-content {
  --background: #F9E5E4;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-container {
  background-color: #FFFFFF;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: auto;
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.login-form {
  flex: 1;
  text-align: left;
  background-color: #FFFFFF;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.usernameInput,
.passwordInput{
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 10px;
}
.unidadPerfilSelect {
  border: 1px solid #b3b0b0;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 10px;
}

ion-button {
  color: #FFFFFF;
  margin-bottom: 15px;
}


@media (max-width: 1024px) {
  .login-container {
    width: 80%;
  }
}


@media (max-width: 768px) {
  .login-container {
    width: 90%;
    flex-direction: column;
    gap: 10px;
  }

  ion-img {
    width: 200px;
    height: 300px;
  }

  .login-form {
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
    border-width: 3px;
  }

  ion-img {
    width: 150px;
    height: 200px;
  }

  .login-form {
    padding: 10px;
  }

  .usernameInput,
  .passwordInput,
  .unidadPerfilSelect {
    padding: 3px;
  }
}
