<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary" class="header1">
      <ion-title>Historia de Salud Digital AP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Atención al usuario</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/citacion">Citacion</ion-item>
        <ion-item routerLink="/informe-citas">Informe de citas previstas</ion-item>
        <ion-item routerLink="/teleconsulta">Teleconsulta</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Atención clínica</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/pacientes-seguimiento">Pacientes en seguimiento</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Historias</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/datos-administrativos">Datos administrativos</ion-item>
        <ion-item routerLink="/grupo-familiar">Grupo familiar</ion-item>
        <ion-item routerLink="/alta-manual">Alta manual</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Profesionales y agendas</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/visado-recetas">Visado de recetas</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Consultas generales</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/asistencias-podologicas">Validación asistencias podológicas</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Pruebas analíticas</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/informes-administrativos">Informes administrativos</ion-item>
      </ion-item-group>

      <ion-item routerLink="/ayuda">Ayuda</ion-item>
      <ion-item routerLink="/logout" color="danger">Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar class="header2">
    <ion-img
      slot="start"
      src="assets/Higiea.png"
      class="header-icon"
      style="max-width: 10%; cursor: pointer;">
    </ion-img>
    <ion-title style="text-align: center">
      Visor HCDM
    </ion-title>
    <ion-title slot="end">Usuario ▼</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="header2">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="health-history-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Farmacia [AN1234567890]</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>NH:</strong> 3000000000, Hombre, 21 años</p>
        <p><strong>Fecha alta:</strong> 20/01/2022</p>
        <p><strong>Fecha último control:</strong> 08/04/2019</p>
        <p><a>Radiografia 22/05/2025</a></p>
        <p><a>Radiografia 22/05/2024</a></p>
        <p><a>Radiografia 22/05/2023</a></p>
        <p><a>Radiografia 22/05/2022</a></p>
        <p><a>Radiografia 22/05/2021</a></p>
        <p><a>Radiografia 22/05/2020</a></p>
      </ion-card-content>
    </ion-card>

    <div>
      <div class="icon-bar">
        <ion-img
          id="image"
          src="./assets/Radiografia-de-torax.jpg"
          (mousedown)="onMouseDown($event)"
          (mousemove)="onMouseMove($event)"
          (mouseup)="onMouseUp()"
          (mouseleave)="onMouseUp()"
        ></ion-img>
      </div>

      <div class="button-bar">
        <ion-button (click)="zoomIn()" color="primary">Ampliar</ion-button>
        <ion-button (click)="zoomOut()" color="secondary" [disabled]="zoomLevel <= 1.0">Reducir</ion-button>
        <ion-button (click)="toggleFullScreen()" color="tertiary">Pantalla completa</ion-button>
        <ion-button (click)="resetImage()" color="danger">Reset</ion-button>
      </div>
    </div>
  </div>
</ion-content>
