<app-menu-superior> </app-menu-superior>

<ion-content>
  <div class="modal-container">
    <div class="modal-card">
      <div class="modal-header">
        <h2>Prescripciones</h2>
      </div>

      <ion-list>
        <ion-item *ngFor="let prescripcion of prescripciones" class="prescription-item">
          <ion-label (click)="verPrescripcion(prescripcion.id)">
            <h2>{{ prescripcion.nombrePrescriptor }}</h2>
            <p>{{ prescripcion.nombreGenerico }} - {{ prescripcion.nombreComercial }}</p>
            <p>Dosis: {{ prescripcion.dosis }}, Frecuencia: {{ prescripcion.frecuencia }}</p>
            <p>Duración: {{ prescripcion.duracionDias }} días</p>
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          <ion-button (click)="eliminarPrescripcion(prescripcion.id)" slot="end">
            Eliminar
          </ion-button>
          <ion-button (click)="imprimirPrescripcion(prescripcion)" slot="end">
            Imprimir
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
