<app-menu-superior></app-menu-superior>

<ion-toolbar>
  <ion-title id="calendar-title">Calendario Semanal</ion-title>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-button (click)="moveWeek(-1)">Semana anterior</ion-button>
    <ion-button (click)="moveWeek(1)">Semana siguiente</ion-button>
  </ion-buttons>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let weekDate of weekDates" size="2.20">
        <strong>{{ weekDate.day }}</strong>
        <br />
        <small>{{ weekDate.date }}</small>
        <ion-card>
          <ion-card-content>
            <div *ngIf="weekDate.consultas && weekDate.consultas.length > 0">
              <div *ngFor="let consulta of weekDate.consultas">
                <p>Hora: {{ consulta.horaConsulta }}</p>
                <p>Paciente: {{ consulta.paciente.nombre }} {{ consulta.paciente.primerApellido }} {{ consulta.paciente.segundoApellido }}</p>
              </div>
            </div>
            <div *ngIf="!weekDate.consultas?.length">
              <p>No hay consultas</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
