<app-menu-superior></app-menu-superior>

<ion-toolbar>
  <ion-title id="calendar-title">Calendario Semanal</ion-title>
</ion-toolbar>

<ion-content>
  <ion-buttons>
    <ion-button (click)="moveWeek(-1)">Semana anterior</ion-button>
    <ion-button (click)="moveWeek(1)">Semana siguiente</ion-button>
  </ion-buttons>

  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col> <ion-col *ngFor="let weekDay of weekDates" size="2.20">
      <strong>{{ weekDay.day }}<br>{{ weekDay.date }}</strong>
    </ion-col>
    </ion-row>

    <ion-row *ngFor="let hour of hours">
      <ion-col size="1">
        <strong>{{ hour }}</strong>
      </ion-col>
      <ion-col *ngFor="let weekDate of weekDates" size="2.20">
        <ion-card>
          <ion-card-content>
            <div *ngIf="hasConsultationForHour(weekDate.consultas, hour); else noConsultations">
              <div *ngFor="let consulta of weekDate.consultas">
                <div *ngIf="consulta.horaConsulta === hour">
                  <p>Hora: {{ consulta.horaConsulta }}</p>
                  <p>Paciente: {{ consulta.paciente.nombre }} {{ consulta.paciente.primerApellido }} {{ consulta.paciente.segundoApellido }}</p>
                </div>
              </div>
            </div>
            <ng-template #noConsultations>
              <p>No hay consultas</p>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
