ion-card {
  background-color: #e89ca0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-content {
  --background: white;
}

ion-grid {
  --background: white;
}

ion-row {
  --background: white;
}

ion-col {
  --background: white;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

ion-icon {
  font-size: 32px;
  margin-bottom: 8px;
}

.selected {
  border: 2px solid #004a77;
}

ion-toolbar {
  --background: #fff4f4;
  --color: #d62f4d;
}

.header2 {
  --background: #f8e4e4;
  --color: #d62f4d;
}

ion-searchbar {
  --background: #fff;
  --color: #000;
  --placeholder-color: #000;
  max-width: 20%;
  margin: 0 auto;
  --border-radius: 10%;

  @media (max-width: 768px) {
    max-width: 100%;
    margin: 0;
  }
}

ion-title {
  font-weight: bold;
  font-size: 20px;
}

.header-title-img {
  display: none;
}

@media (max-width: 768px) {
  .header-title-img {
    display: block;
    max-width: 50%;
    margin: 0 auto;
  }
}
