<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary" class="header1">
      <ion-title>Historia de Salud Digital AP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Atención al usuario</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/citacion">Citacion</ion-item>
        <ion-item routerLink="/informe-citas">Informe de citas previstas</ion-item>
        <ion-item routerLink="/teleconsulta">Teleconsulta</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Atención clínica</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/pacientes-seguimiento">Pacientes en seguimiento</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Historias</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/datos-administrativos">Datos administrativos</ion-item>
        <ion-item routerLink="/grupo-familiar">Grupo familiar</ion-item>
        <ion-item routerLink="/alta-manual">Alta manual</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Profesionales y agendas</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/visado-recetas">Visado de recetas</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Consultas generales</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/asistencias-podologicas">Validación asistencias podológicas</ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Pruebas analíticas</ion-label>
        </ion-item-divider>
        <ion-item routerLink="/informes-administrativos">Informes administrativos</ion-item>
      </ion-item-group>

      <ion-item routerLink="/ayuda">Ayuda</ion-item>
      <ion-item routerLink="/logout" color="danger">Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar class="header2">
    <ion-img
      slot="start"
      src="assets/Higiea.png"
      class="header-icon"
      style="max-width: 10%; cursor: pointer;"
      (click)="openMenu()">
    </ion-img>
    <ion-title style="text-align: center">
      <ion-img src="assets/Higiea.png" class="header-title-img"></ion-img>
    </ion-title>
    <ion-title slot="end">Usuario ▼</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="header2">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar..." style="max-width: 20%; --border-radius: 10%" slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/hospital.png" style="max-width: 58px"></ion-img>
            <ion-label>Estación Clínica</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card [routerLink]="'/select-user'">
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/stethoscope.png" style="max-width: 58px"></ion-img>
            <ion-label>Historia de salud digital AP</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/pills.png" style="max-width: 58px"></ion-img>
            <ion-label>Prescripciones</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/hospital-with-user.png" style="max-width: 58px"></ion-img>
            <ion-label>Urgencias AP</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card [routerLink]="'/calendar'">
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/calendar.png" style="max-width: 58px"></ion-img>
            <ion-label>Calendario</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card [routerLink]="'/chats-selector'">
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/email.png" style="max-width: 58px"></ion-img>
            <ion-label>Buzón</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card href="https://www.sspa.juntadeandalucia.es/servicioandaluzdesalud/clicsalud/">
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/heart.png" style="max-width: 58px"></ion-img>
            <ion-label>Clic Salud+</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/object-connection-7.png" style="max-width: 58px"></ion-img>
            <ion-label>Telederma</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/vaccine.png" style="max-width: 58px"></ion-img>
            <ion-label>Vacunas</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/stamp.png" style="max-width: 58px"></ion-img>
            <ion-label>Visados</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card [routerLink]="'/hcdm-visor'">
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/ambulance.png" style="max-width: 58px"></ion-img>
            <ion-label>Visor HCDM</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-img src="./assets/icons/radiology.png" style="max-width: 58px"></ion-img>
            <ion-label>Visor PACS</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
