<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary" class="header1">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/productos">Productos</ion-item>
      <ion-item routerLink="/perfil">Perfil</ion-item>
      <ion-item routerLink="/configuracion">Configuración</ion-item>
      <ion-item routerLink="/logout">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar class="header2">
    <ion-img
      slot="start"
      src="assets/Higiea.png"
      class="header-icon"
      style="max-width: 10%; cursor: pointer;"
      (click)="openMenu()">
    </ion-img>
    <ion-title style="text-align: center">
      <ion-img src="assets/Higiea.png" class="header-title-img"></ion-img>
    </ion-title>
    <ion-title slot="end">Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header class="header2">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar..." style="max-width: 20%; --border-radius: 10%" slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="business" size="large"></ion-icon>
            <ion-label>Estación Clínica</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="medkit" size="large"></ion-icon>
            <ion-label>Historia de salud digital AP</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="create" size="large"></ion-icon>
            <ion-label>Prescripciones</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="medkit-outline" size="large"></ion-icon>
            <ion-label>Urgencias AP</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="calendar" size="large"></ion-icon>
            <ion-label>Calendario</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="mail" size="large"></ion-icon>
            <ion-label>Buzón</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="heart" size="large"></ion-icon>
            <ion-label>Clic Salud+</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card class="selected">
          <ion-card-content class="ion-text-center">
            <ion-icon name="qr-code" size="large"></ion-icon>
            <ion-label>Telederma</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="medical" size="large"></ion-icon>
            <ion-label>Vacunas</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="document" size="large"></ion-icon>
            <ion-label>Visados</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="eye" size="large"></ion-icon>
            <ion-label>Visor HCDM</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <ion-icon name="desktop" size="large"></ion-icon>
            <ion-label>Visor PACS</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
